<!-- accounts/templates/accounts/reset_password.html -->
<!doctype html>
<html>
<head><meta charset="utf-8"><title>Reset password</title></head>
<body>
  <h2>Reset password</h2>
  {% if messages %}
    <ul>{% for m in messages %}<li>{{ m }}</li>{% endfor %}</ul>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.token }}
    {{ form.new_password.label_tag }}<br>{{ form.new_password }}<br><br>
    {{ form.confirm_password.label_tag }}<br>{{ form.confirm_password }}<br><br>
    <button type="submit">Change password</button>
  </form>
</body>
</html>
